.albums {
  @include display();
  padding: 5% 1%;


  &__card {
    @include display();
    flex-direction: column;
    gap: 10px;
    width: 100%
  }

  &__items {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    padding: 10px;
    width: 100%;
    max-width: 500px;
  }

  &__item-top {
    @include display();
    gap: 10px;
  }

  &__id {
    font-weight: 600;
    background-color: rgb(81, 81, 214);;
    padding: 2px 5px;
    color: white;
  }

  &__title {
    font-weight: 600;
    word-break: break-all;
  }
}