*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  list-style: none;
}


.none {
 visibility: hidden !important;

}


  .load {
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes loader {
    0%{
      transform: rotate(0deg);
    }50%{
      transform: rotate(150deg);
    }80%{
      transform: rotate(300deg);
    }
  }