.navbar {
  @include display();
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  background-color:  rgb(34, 36, 58);
  padding: 1% 3%;
  &__link {
    text-decoration: none;
    color: white;
    &:hover {
      color: rgb(52, 52, 224);
    }
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  
  &__list {
    @include display();
    justify-content: start;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  &__on {
    background-color: rgba(128, 128, 128, 0.397) !important;
    border: 1px solid rgb(52, 52, 224) !important;
  }


  &__right {
    @include display();
    gap: 10px;
  }

  &__button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 113, 128);
    color: white;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__loader {
    width: 20px;
    color: white;
  }
}